.cardsita{
    color: white;
/*     display: inline-table; */
    background-color: rgba(87, 3, 121, 0.25);
    width: 15%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.267) 3px 3px 3px 3px;
}

.cardsita:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.25s;
}